@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Apply the texture background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://www.pexels.com/photo/black-sand-dunes-2387793/'); /* Link to your texture image */
    background-repeat: repeat; /* Repeat the texture across the page */
    background-size: cover; /* Optional: makes sure the image covers the entire area */
    background-position: center center; /* Optional: centers the image */
  }
  

  .custom-bullet {
    list-style-type: none; /* Remove default bullet */
    position: relative;
  }
  
  .custom-bullet::before {
    content: '';
    position: absolute;
    left: 19;
    top: 50%;
    margin: 20px;
    transform: translateY(-50%);
    width: 20px; /* Size of the white circle */
    height: 20px;
    background-color: white; /* White circle */
    border-radius: 50%; /* Make it a circle */
    border: 5px solid green; /* Green border around the circle */
  }